{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sign Up</title>
  <style>
  :root {
    --hero-url: url("{% static 'image/registro.png' %}");
  }
</style>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
  <main class="auth">
    <!-- LADO IZQUIERDO (ilustración) -->
    <section class="left">
      <div class="illustration" aria-label="signup illustration"></div>
    </section>

    <!-- LADO DERECHO (formulario) -->
    <section class="right">
      <div class="card">
        <h1>Sign Up</h1>
        <p class="subtitle">Únete a la comunidad con acceso permanente y gratis</p>


        <!-- ERRORES DEL FORM -->
        <div class="errors" id="form-errors"></div>
            

        <!-- FORMULARIO DJANGO -->
        <form class="form" method="post" enctype="multipart/form-data" autocomplete="on" id="form">
          {% csrf_token %}

          <div class="grid-2">
            <div class="field">
              <label for="first_name">Nombres</label>
              <input id="first_name" name="first_name" type="text" placeholder="Luis" maxlength="150" autocomplete="given-name">
                <p class="mensaje"></p>
            </div>
            <div class="field">
              <label for="last_name">Apellidos</label>
              <input id="last_name" name="last_name" type="text" placeholder="Suarez" maxlength="150" autocomplete="family-name">
                <p class="mensaje"></p>
            </div>
          </div>

          <div class="field">
            <label for="username">Usuario <span>*</span></label>
            <input id="username" name="username" type="text" placeholder="tu_usuario" required maxlength="150" autocomplete="username">
            <p class="mensaje"></p>
          </div>

          <div class="field">
            <label for="email">Correo <span>*</span></label>
            <input id="email" name="email" type="email" placeholder="correo@dominio.com" required autocomplete="email">
            <p class="mensaje"></p>
          </div>

          <div class="grid-2">
            <div class="field">
              <label for="password1">Contraseña <span>*</span></label>
                <input id="password1" name="password1" type="password" placeholder="Mín. 8 caracteres" required autocomplete="new-password" minlength="8">
                <p class="mensaje"></p>
            </div>
            <div class="field">
              <label for="password2">Repetir contraseña <span>*</span></label>
                <input id="password2" name="password2" type="password" placeholder="Mín. 8 caracteres" required autocomplete="new-password" minlength="8">
                <p class="mensaje"></p>
            </div>
          </div>

          <div class="grid-2">
            <div class="field">
              <label for="cedula">Cedula</label>
              <input id="cedula" name="cedula" type="text" inputmode="numeric" pattern="[0-9]{10}" maxlength="10" placeholder="0954234548">
              <p class="mensaje"></p>
            </div>
            <div class="field">
              <label for="telefono">Teléfono</label>
              <input id="telefono" name="telefono" type="text" inputmode="numeric" pattern="[0-9]{10}" maxlength="10" placeholder="0999999999" autocomplete="tel">
              <p class="mensaje"></p>
            </div>
          </div>

          <div class="field">
            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            <input id="fecha_nacimiento" name="fecha_nacimiento" type="date" max="2099-12-31">
            <p class="mensaje"></p>
          </div>

          <div class="field">
            <label>Rol</label>
            <select name="rol" required>
              <option value="guardia">Guardia</option>
              <option value="admin">Administrador</option>
            </select>
          </div>

          <div class="field">
            <label for="foto">Foto (opcional)</label>
            <input id="foto" name="foto" type="file" accept="image/*">
            <div class="preview" id="preview"></div>
          </div>

          <button type="submit" class="btn primary">Crear cuenta</button>
        </form>

        <p class="footnote">
          ¿Ya tienes cuenta?
          <a href="{% url 'cuentas:login' %}" class="link">Login here</a>
        </p>
      </div>
    </section>
  </main>

  <script>
    window.URLS = {
        api_registro: "{% url 'cuentas:api_registro' %}"
    }
  </script>
  <script src="{% static 'js/validaciones.js'  %}"></script>
  <script src="{% static 'js/registro.js'  %}"></script>
</body>
</html>
